Imputation evaluation

In [ ]:
import pandas as pd
import numpy as np

In [141]:
# load in the data

df = pd.read_csv("cs-training.csv")
df.drop("Unnamed: 0", axis=1, inplace=True)
df

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
149995,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0
149996,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0
149997,0,0.246044,58,0,3870.000000,NaN,18,0,1,0,0.0
149998,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0
149999,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0

In [142]:
# getting rid of outliers

from sklearn.ensemble import IsolationForest

In [143]:
outlier_data = df.dropna(inplace=False)
len(outlier_data) # removes about 30,000 rows
outlier_data.drop("SeriousDlqin2yrs", axis=1, inplace=True)

/var/folders/fk/svllg0550bj0tsxddmfx5f1w0000gn/T/ipykernel_55476/632345360.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outlier_data.drop("SeriousDlqin2yrs", axis=1, inplace=True)

In [166]:
outlier_data

,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,detect
0,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0,1
1,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0,1
2,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0,1
3,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0,1
4,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0,-1
...,...,...,...,...,...,...,...,...,...,...,...
149994,0.385742,50,0,0.404293,3400.0,7,0,0,0,0.0,1
149995,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0,1
149996,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0,1
149998,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0,1
149999,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0,1

In [144]:
model = IsolationForest()
model.fit(outlier_data)

IsolationForest()

In [145]:
outlier_data["detect"] = model.predict(outlier_data)

/var/folders/fk/svllg0550bj0tsxddmfx5f1w0000gn/T/ipykernel_55476/1475786574.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outlier_data["detect"] = model.predict(outlier_data)

In [146]:
df["detect"] = outlier_data["detect"]

In [147]:
data_no_outlier = df[df["detect"]!=-1]

In [148]:
data_no_outlier

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,detect
0,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0,1.0
1,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0,1.0
2,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0,1.0
3,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0,1.0
5,0,0.213179,74,0,0.375607,3500.0,3,0,1,0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
149995,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0,1.0
149996,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0,1.0
149997,0,0.246044,58,0,3870.000000,NaN,18,0,1,0,0.0,NaN
149998,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0,1.0
149999,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0,1.0

In [149]:
# Imputation testing

# Remove values at random and see how well the imputation model does

In [150]:
data_no_outlier = data_no_outlier.drop("detect", axis=1, inplace=False)

In [151]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [152]:
# imputation model

imputation_model = IterativeImputer(
       skip_complete=True,
       initial_strategy='mean',
       max_iter=10
)

In [153]:
# change random values to NaN

df_new = data_no_outlier
df_update1 = df_new.sample(100)
df_update1['MonthlyIncome'] = np.nan
df_update2 = df_new.sample(100)
df_update2['NumberOfDependents'] = np.nan
df_new.update(df_update1)
df_new.update(df_update2)

In [154]:
df_new

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1.0,0.766127,45.0,2.0,0.802982,9120.0,13.0,0.0,6.0,0.0,2.0
1,0.0,0.957151,40.0,0.0,0.121876,2600.0,4.0,0.0,0.0,0.0,1.0
2,0.0,0.658180,38.0,1.0,0.085113,3042.0,2.0,1.0,0.0,0.0,0.0
3,0.0,0.233810,30.0,0.0,0.036050,3300.0,5.0,0.0,0.0,0.0,0.0
5,0.0,0.213179,74.0,0.0,0.375607,3500.0,3.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
149995,0.0,0.040674,74.0,0.0,0.225131,2100.0,4.0,0.0,1.0,0.0,0.0
149996,0.0,0.299745,44.0,0.0,0.716562,5584.0,4.0,0.0,1.0,0.0,2.0
149997,0.0,0.246044,58.0,0.0,3870.000000,NaN,18.0,0.0,1.0,0.0,0.0
149998,0.0,0.000000,30.0,0.0,0.000000,5716.0,4.0,0.0,0.0,0.0,0.0
149999,0.0,0.850283,64.0,0.0,0.249908,8158.0,8.0,0.0,2.0,0.0,0.0

In [155]:
# run our imputation model on our dataset with extra NaNs

tester = imputation_model.fit_transform(df_new)

In [156]:
new_data = pd.DataFrame(tester)
new_data.columns = df.columns[:-1]
new_data

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1.0,0.766127,45.0,2.0,0.802982,9120.000000,13.0,0.0,6.0,0.0,2.0
1,0.0,0.957151,40.0,0.0,0.121876,2600.000000,4.0,0.0,0.0,0.0,1.0
2,0.0,0.658180,38.0,1.0,0.085113,3042.000000,2.0,1.0,0.0,0.0,0.0
3,0.0,0.233810,30.0,0.0,0.036050,3300.000000,5.0,0.0,0.0,0.0,0.0
4,0.0,0.213179,74.0,0.0,0.375607,3500.000000,3.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
143469,0.0,0.040674,74.0,0.0,0.225131,2100.000000,4.0,0.0,1.0,0.0,0.0
143470,0.0,0.299745,44.0,0.0,0.716562,5584.000000,4.0,0.0,1.0,0.0,2.0
143471,0.0,0.246044,58.0,0.0,3870.000000,-31612.870685,18.0,0.0,1.0,0.0,0.0
143472,0.0,0.000000,30.0,0.0,0.000000,5716.000000,4.0,0.0,0.0,0.0,0.0
143473,0.0,0.850283,64.0,0.0,0.249908,8158.000000,8.0,0.0,2.0,0.0,0.0

In [164]:
# fully imputed data
# reset indices to match original (to compare imputed and real values)

new_ind = df_new.index.values.tolist()
new_data_ind = new_data
new_data_ind["newIndex"]= new_ind
new_data_ind.set_index('newIndex')

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
newIndex,,,,,,,,,,,
0,1.0,0.766127,45.0,2.0,0.802982,9120.000000,13.0,0.0,6.0,0.0,2.0
1,0.0,0.957151,40.0,0.0,0.121876,2600.000000,4.0,0.0,0.0,0.0,1.0
2,0.0,0.658180,38.0,1.0,0.085113,3042.000000,2.0,1.0,0.0,0.0,0.0
3,0.0,0.233810,30.0,0.0,0.036050,3300.000000,5.0,0.0,0.0,0.0,0.0
5,0.0,0.213179,74.0,0.0,0.375607,3500.000000,3.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
149995,0.0,0.040674,74.0,0.0,0.225131,2100.000000,4.0,0.0,1.0,0.0,0.0
149996,0.0,0.299745,44.0,0.0,0.716562,5584.000000,4.0,0.0,1.0,0.0,2.0
149997,0.0,0.246044,58.0,0.0,3870.000000,-31612.870685,18.0,0.0,1.0,0.0,0.0
149998,0.0,0.000000,30.0,0.0,0.000000,5716.000000,4.0,0.0,0.0,0.0,0.0
149999,0.0,0.850283,64.0,0.0,0.249908,8158.000000,8.0,0.0,2.0,0.0,0.0

In [165]:
# check imputed data against real data

total_diff = 0


for ind in df_update1.index:

    # df.loc[df['newIndex'] == ind]

    # print(new_data_ind.loc[new_data_ind['newIndex'] == ind]["MonthlyIncome"])

    # if np.isnan(data_no_outlier.loc[ind, 'MonthlyIncome']) or np.isnan(new_data_ind.loc[new_data_ind['newIndex'] == ind]["MonthlyIncome"]):

    print(new_data_ind.loc[ind])

    # if np.isnan(data_no_outlier['MonthlyIncome'][ind]) or np.isnan(new_data_ind[[ind]]):
        # total_diff += 0

    # else:
        # difference = (data_no_outlier['MonthlyIncome'][ind]) - (new_data_ind['MonthlyIncome'][ind])
        # difference = (data_no_outlier.loc[ind, 'MonthlyIncome']) - (new_data_ind.loc[new_data_ind['newIndex'] == ind]["MonthlyIncome"])
        # print(difference)
        # total_diff += abs(difference)

print(total_diff/100)

KeyError: 147790

In [131]:
total_diff = 0


for ind in df_update2.index:

    # print(str(data_no_outlier['NumberOfDependents'][ind]) + ", " + str(new_data2['NumberOfDependents'][ind]))

    if np.isnan(data_no_outlier['NumberOfDependents'][ind]) or np.isnan(new_data_ind['NumberOfDependents'][ind]):
        total_diff += 0

    else:
        difference = (data_no_outlier['NumberOfDependents'][ind]) - (new_data_ind['NumberOfDependents'][ind])
        # print(difference)
        total_diff += abs(difference)

print(total_diff/100)

0.9511031275130162